.he-list-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
  .he-col-pic {
    width: 34%;
    max-height:240px ;
    overflow: hidden;
  }
  .he-col-title {
    width: 66%;
  }

  .he-col-main-content {
    width: 50%;
  }
  .he-col-main-pic {
    width: 50%;
  }